/* =-=- Chat -=-= */
.visual-refresh {
/* Chatbox Input */
._740174f3d6a2c8fe-textArea {
		 background-color: rgba(var(--TertiaryBG), 1);
		 font-weight: 400;
		 font-size: 1rem;
		 line-height: 15px;
		 width: 100%;
		 height: 20px;
		 min-height: 30px;
		 padding: 0 0;
		 margin-top: 15px;
		 color: rgba(var(--AccentColor), 1);
}
._740174f3d6a2c8fe-scrollableContainer {
		 background-color: rgba(var(--TertiaryBG), 1);
		 max-height: 300px;
		 min-height: 52px;
		 overflow: hidden;
}

/* Chat box spacing */
.f75fb00fb7356cbe-form {
		padding: 0 0;
		 margin-top: 0;
}
.align-chat-input ._36d072eab2b2e737-scrollerSpacer {
    height: 25px;
}
.f75fb00fb7356cbe-channelTextArea {
		border-top: 2px rgba(var(--AccentColor), 1) solid !important;
		background-color: rgba(var(--PrimaryBG));
		margin-top: 0;
    margin-bottom: 0;
}
._740174f3d6a2c8fe-channelTextArea {
    border: none;
}
:where(.visual-refresh) ._740174f3d6a2c8fe-textArea:not(._740174f3d6a2c8fe-textAreaSlate) {
    box-sizing: border-box;
    min-height: 41px;
    padding: 0;
}
.visual-refresh .f75fb00fb7356cbe-form {
    margin-top: 0;
		padding-left: 0;
		padding-right: 0;
}
/* Border when having longer messages written, thanks to Gibbu#1211! */
.f75fb00fb7356cbe-channelTextArea::before {
		content: "";
		position: absolute;
		height: calc(100% - 35px);
		width: calc(100% - 2px);
		border-left: 2px dashed rgba(var(--AccentColor), 1);
		border-right: 2px dashed rgba(var(--AccentColor), 1);
		pointer-events: none;
}

/* Chat Box - Attach Files */
#app-mount ._0923f156a0410684-attachWrapper button {
		margin-top: 0;
		margin-right: 7px;
		width: 24px;
		height: 24px;
		/* clip-path: polygon(50% 35%, 35% 20%, 15% 30%, 15% 50%, 50% 85%, 85% 50%, 85% 30%, 65% 20%); */
}
#app-mount ._0923f156a0410684-attachButtonInner svg {
		-webkit-mask: url("https://i.imgur.com/tfdUDNN.png") center/cover !important;
		-webkit-mask-size: 28px !important;
		color: rgba(var(--AccentColor), 1);
		background: rgba(var(--AccentColor), 1);
}
._0923f156a0410684-attachButtonInner {
    height: 10px;
}
._0923f156a0410684-attachButton {
    height: 35px;
    padding: 10px 5px;
}
.attachButtonPlay__0923f {
    display: none;
}
._740174f3d6a2c8fe-sansAttachButton {
    padding-left: 15px !important;
}
#app-mount .align-chat-input ._0923f156a0410684-attachWrapper {
    height: 0 !important;
}

/* Upload options */
._778207026e0e04d5-menu {
	bottom: -1px !important;
	position: relative;
	box-shadow: none;
	border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.tipSubtext_d3460f {
    display: none;
}
.c1e9c47c23f12ca3-item ._778207026e0e04d5-optionIcon {
	-webkit-mask-size: 24px !important;
	color: rgba(var(--AccentColor), 1);
	background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused {
  color: rgba(var(--PrimaryBG));
	background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused path {
  fill: transparent;
}
.c1e9c47c23f12ca3-item:hover ._778207026e0e04d5-optionIcon {
	color: rgba(var(--PrimaryBG));
	background-color: rgba(var(--PrimaryBG));
}
/* Upload a File */
.c1e9c47c23f12ca3-item[id="channel-attach-upload-file"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/tfdUDNN.png");
}
/* Upload your message as a file */
.c1e9c47c23f12ca3-item[id="channel-attach-upload-text-as-file"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/4mbKzmy.png");
}
/* Create Thread */
.c1e9c47c23f12ca3-item[id="channel-attach-THREAD"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/5ixlf8e.png");
}
/* Create Thread */
.c1e9c47c23f12ca3-item[id="channel-attach-SLASH_COMMAND"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/mY9Z1pB.png");
}
/* Listen to Spotify */
.c1e9c47c23f12ca3-item[id="channel-attach-listen"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/rvSGmst.png");
}
/* Create Poll */
.c1e9c47c23f12ca3-item[id="channel-attach-poll"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/CCWM2Rc.png");
}
/* Start Activity */
.c1e9c47c23f12ca3-item[id="channel-attach-activity"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/faSUfHB.png");
}
/* Send Voice Message */
.c1e9c47c23f12ca3-item[id="channel-attach-vc-send-vmsg"] ._778207026e0e04d5-optionIcon {
	-webkit-mask: url("https://i.imgur.com/uowLiRY.png");
}

/* Chatbox icons - Emotes */
#app-mount div._04eede68d145ae81-sprite {
		-webkit-mask: url("https://i.imgur.com/mYbru9j.png") no-repeat center/cover;
		background: rgba(var(--AccentColor), 1);
		width: 24px;
		margin: 0;
}
._04eede68d145ae81-spriteContainer {
	transform: none !important;
}
[aria-label^="Select emoji"]._201d5e8a3c09670a-button svg {
		color: rgba(var(--AccentColor), 1) !important;
		cursor: crosshair;
}
/* Chatbox buttons - Stickers */
._740174f3d6a2c8fe-stickerButton {
		padding: 0;
		margin: 0;
		-webkit-mask: url("https://i.imgur.com/ZjZ0zvH.png") no-repeat center/cover;
		background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1) !important;
		width: 20px;
}
[aria-label^="Open sticker picker"]._201d5e8a3c09670a-button svg {
		color: rgba(var(--AccentColor), 1) !important;
		cursor: crosshair;
}

/* Chatbox bloatware killer */
._160d8e55254637e5-app [aria-label="Send a gift"],
._160d8e55254637e5-app [aria-label="Open GIF picker"],
._160d8e55254637e5-app [aria-label="Apps"] {
		 display: none;
}

/* Markdown Chatbox */
._1b31f471f0bb10ab-editor {
		color: rgba(var(--AccentColor), 1);
		caret-color: rgba(var(--AccentColor), 1);
		line-height: 20px;
}
.fontSize16Padding__74017 {
    padding: 0 0;
}
._1b31f471f0bb10ab-placeholder {
    color: rgba(var(--AccentColor), .5);
		margin-top: 1px;
}

/* Markdown Toolbar */
.bba88350df28dff1-toolbar {
    background: rgba(var(--SecondaryBG));
    height: 30px;
}
.bba88350df28dff1-button {
    width: 30px;
}
.buttonInner__878f4, .bba88350df28dff1-icon svg {
    width: 30px;
}


/* Chat Beginning */
.base-21yXnu {
		color: rgba(var(--AccentColor), 1);
}
._00de6f6c14b53606-description {
    color: rgba(var(--AccentColor), 1);
}
._00de6f6c14b53606-emptyChannelIcon {
		-webkit-mask: url(https://i.imgur.com/mXDdMKg.png) no-repeat center/cover;
    width: 50px;
    height: 50px;
    margin-top: 0;
    background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1) !important;
}
._00de6f6c14b53606-emptyChannelIcon {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    background: rgba(var(--AccentColor), 0.25);
}
._1ee8c9ebb87f56f8-channelSettingButtons {
    display: none;
}
.b4b2c318c99fc487-role {
    padding: 2px 5px;
    color: rgba(var(--AccentColor), 1);
    background-color: rgba(var(--SecondaryBG));
}

/* Chat Beginning Title Size */
.size32-5yOQel {
		font-size: 30px;
		line-height: 35px;
}
/* Chatbox attach button */
._740174f3d6a2c8fe-sansAttachButton {
		padding-left: 20px;
}
/* Chat attachment */
._0ccaee68b77c7469-fileWrapper, .wrapperAudio_f316dd {
		border: 2px dashed rgba(var(--AccentColor), 1) !important;
}
.animating-2CraY5 {
		background: rgba(var(--AccentColor), 1) !important;
}

/* Loading Icon */
.wanderingCubesItem-3Us-UG {
		background-color: rgba(var(--AccentColor), 1); }

/* Chat Username */
.c19a557985eb7793-username {
		font-size: 20px;
		font-weight: 600;
		vertical-align: baseline;
}
/* Chat Avatar */
.c19a557985eb7793-avatar {
		left: 15px;
		margin-top: -2px;
		width: 50px;
		height: 50px;
		cursor: crosshair;
		image-rendering: pixelated;
}
.c19a557985eb7793-avatarDecoration {
	left: 13px;
	margin-top: -2px;
	width: 55px !important;
	height: 55px !important;
}

/* Chat Message Bar */
._0f481cbbd7530492-newMessagesBar {
		background: rgba(var(--AccentColor), 1);
		opacity: 1;
		box-shadow: none;
		height: 20px;
}
._0f481cbbd7530492-barButtonBase {
		color: #000 !important;
		font-weight: 800;
		padding: 0 10px;
		font-size: 15px;
		line-height: 20px;
		height: 25px;
}
._0f481cbbd7530492-barBase {
		left: 0;
		right: 0;
		min-height: 25px;
		opacity: 1;
		cursor: crosshair;
		transition: none;
}
/* "Jump To Present" Bar */
._0f481cbbd7530492-jumpToPresentBar {
		bottom: 0;
		background-color: rgba(var(--SecondaryBG));
		opacity: 1;
		padding-bottom: 15px;
}
._0f481cbbd7530492-jumpToPresentBar ._0f481cbbd7530492-barButtonBase {
	color: rgba(var(--AccentColor), 1) !important;
	font-weight: 600;
	padding: 10px 15px;
	font-size: 20px;
	line-height: 0px;
	height: 35px;
}
._0f481cbbd7530492-jumpToPresentBar ._0f481cbbd7530492-barButtonIcon {
		top: 0;
		width: 25px;
		height: 25px;
		margin-left: 5px;
}
/* Follow channel Bar */
._44df51b030bd5ece-wrapper {
    margin-bottom: 5px;
    padding: 10px 0;
    background-color: rgba(var(--PrimaryBG));
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}

/* Chat Icons */
._235ca3770d90ab7c-iconContainer {
		width: 2rem;
		margin: 0;
		margin-top: -3px;
		padding: 0;
}
._235ca3770d90ab7c-iconContainer ._235ca3770d90ab7c-icon {
		background-image: none !important;
}
/* Pins - Chat Icons */
._235ca3770d90ab7c-iconContainer ._235ca3770d90ab7c-icon[style*="/assets/1f57f1c100434d1ff6569a495ada213e.svg"]:before {
		content: "";
		width: 20px;
		height: 20px;
		margin-top: 5px;
		display: block;
		-webkit-mask: url("https://i.imgur.com/tMrxpi1.png") center/cover;
		background: rgba(var(--AccentColor), 1);
}
/* Joins - Chat Icons */
._235ca3770d90ab7c-iconContainer ._235ca3770d90ab7c-icon[style*="/assets/d1382af8d9e755bc44811b1fd92990a8.svg"]:before {
		content: "";
		width: 25px;
		height: 25px;
		display: block;
		-webkit-mask: url("https://i.imgur.com/V2GSbJ6.png") center/cover;
		background: #43b581;
}
/* Leaves - Chat Icons */
._235ca3770d90ab7c-iconContainer ._235ca3770d90ab7c-icon[style*="/assets/f772d3d7eddcf3c84f710c10999479f0.svg"]:before {
		content: "";
		width: 25px;
		height: 25px;
		display: block;
		-webkit-mask: url("https://i.imgur.com/pL5cqV5.png") center/cover;
		background: #f04747;
}
/* Boost - Chat Icons */
._235ca3770d90ab7c-iconContainer ._9f20a640698aeb6c-iconWrapper {
		position: relative;
		margin-left: 5px;
		margin-top: 5px;
}
/* Call - Chat Icons */
._235ca3770d90ab7c-iconContainer ._235ca3770d90ab7c-icon[style*="/assets/7f75ab26bc5deb393cd8db44d9fe14e7.svg"]:before {
		content: "";
		width: 22px;
		height: 22px;
		margin-top: 5px;
		display: block;
		-webkit-mask: url("https://i.imgur.com/QRlEKsF.png") center/cover;
		background: #43b581;
}

/* Video Player */
._926d764ff4a9f4d6-iconPlay {
		color: rgba(var(--AccentColor), 1);
}
._926d764ff4a9f4d6-iconExternalMargins {
		margin: 0 0;
}
._926d764ff4a9f4d6-iconExternalMargins[aria-label*="Open Link"] {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.metadata__7bef0 {
		padding: 10px;
		height: 50px;
		background: rgba(var(--PrimaryBG), 0.9);
		text-shadow: 2px 1px black;
		color: rgba(var(--AccentColor), 1);
}
.videoControls_f316dd {
		bottom: 0;
		padding-bottom: 0;
		height: 35px;
		background: rgba(var(--PrimaryBG), 0.9);
}
.videoControls_f316dd svg {
		width: 30px;
		height: 30px;
		padding: 5px;
		color: rgba(var(--AccentColor), 1);
		cursor: crosshair;
		opacity: 1;
}
._2d263e93fa75ef4c-volumeButton svg {
		-webkit-mask: url("https://i.imgur.com/kVJyJEN.png") center/cover;
		margin-left: 2px;
		width: 15px;
		height: 15px;
		background: rgba(var(--AccentColor), 1);
}
.controlIcon_f316dd[style="margin-left: 0px;"] {
  -webkit-mask: url("https://i.imgur.com/ckPvECt.png") center/cover;
  margin-left: 2px;
  width: 15px;
  height: 15px;
  background: rgba(var(--AccentColor), 1);
}
.iconExternalMargins-2v2mzg {
		color: rgba(var(--AccentColor), 1);
}
.mediaBarGrabber_f7877e, .mediaBarProgress_f7877e, .mediaBarProgress_f7877e:after, .mediaBarProgress_f7877e:before {
		background-color: rgba(var(--AccentColor), 1);
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e, .mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
		transform: none;
		background-color: rgba(var(--AccentColor), 1);
		cursor: crosshair;
}
.bubble_f7877e {
		top: -25px;
		padding: 0 5px;
		height: 15px;
		line-height: 20px;
		font-size: 13px;
		color: rgba(var(--AccentColor), 1);
		transition: none;
}

/* Download Button - Video Player */
.metadataDownload_f316dd svg {
		 -webkit-mask: url("https://i.imgur.com/IYrkNiU.png") center/cover;
		 width: 25px;
		 height: 25px;
		 background: rgba(var(--AccentColor), 1);
		 color: rgba(var(--AccentColor), 1);
}

/* GIFs - Icon */
.f608190f11a53dac-gifTag {
		-webkit-mask: url("https://i.imgur.com/qemHq8Q.png") center/cover;
		width: 25px;
		height: 25px;
		display: block;
		background: rgba(var(--AccentColor), 1);
		animation: rainbow 3s linear;
}

/* Edited Message Pencil */
.c19a557985eb7793-edited  {
		-webkit-mask: url(https://i.imgur.com/TcSbNGP.png) center/cover;
		width: 18px;
		height: 10px;
		display: inline-flex;
		padding-top: 5px;
		background: rgba(var(--AccentColor), 1);
		opacity: 0.5;
}

/* Mentions */
#app-mount .wrapper_d4fa29 {
		background: rgba(var(--AccentColor), 0.15);
		color: rgba(var(--AccentColor), 1);
}
.interactive:hover {
		background-color: rgba(var(--AccentColor), 0.25) !important;
}
.interactive {
		transition: none;
		cursor: crosshair;
}
.mention.iconMention-3WxjBe svg {
		-webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		width: 18px;
		height: 18px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}

/* Mention Box */
._5126c0cd07f243a0-mentioned {
		position: relative;
		background-color: rgba(var(--AccentColor), 0.15);
		border: 2px rgba(var(--AccentColor), 1);
		border-style: dashed hidden;
}
._5126c0cd07f243a0-mentioned:before {
		background-color: rgba(var(--AccentColor), 1);
}
.localBot-GrCgVt:before, ._5126c0cd07f243a0-mentioned:before {
		width: 0;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned._5126c0cd07f243a0-selected, .mouse-mode.full-motion ._5126c0cd07f243a0-mentioned:hover {
		background-color: rgba(var(--AccentColor), 0.25) !important;
}

/* Replies */
._5126c0cd07f243a0-replying:before {
		background-color: rgba(var(--AccentColor), 1);
		border: none !important;
}
._5126c0cd07f243a0-replying {
		background-color: rgba(var(--AccentColor), 0.15);
		outline: dashed 2px rgba(var(--AccentColor), 1);
		animation: rainbow 10s infinite linear;
}
.c19a557985eb7793-repliedMessage:before {
		border-left: 2px dashed rgba(var(--AccentColor), 0.5);
		border-top: 2px dashed rgba(var(--AccentColor), 0.5);
}
.c19a557985eb7793-repliedMessage .c19a557985eb7793-repliedTextPreview .c19a557985eb7793-repliedTextContent,
.c19a557985eb7793-threadMessageAccessory .c19a557985eb7793-threadMessageAccessoryPreview .c19a557985eb7793-threadMessageAccessoryContent {
		color: rgba(var(--AccentColor), 0.75); }

/* Hover/Shift Menu Popup */
.f7ecaca5c80dbf3a-wrapper {
		background-color: rgba(var(--PrimaryBG));
		box-shadow: none;
		height: 35px;
		transition: none;
}
.f7ecaca5c80dbf3a-button {
		height: 25px;
		padding: 5px;
		min-width: 25px;
}
.f7ecaca5c80dbf3a-button.f7ecaca5c80dbf3a-selected {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.f7ecaca5c80dbf3a-button:active {
		padding: 5px;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.f7ecaca5c80dbf3a-button[aria-label*="Add Reaction"] svg {
		-webkit-mask: url("https://i.imgur.com/Dl8Ffb7.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Add Super Reaction"] svg {
		-webkit-mask: url("https://i.imgur.com/Dl8Ffb7.png") center/cover;
		width: 20px;
		height: 20px;
		color: #3264ff;
		background: #3264ff;
		animation: fading 2s infinite;
}
.f7ecaca5c80dbf3a-button[aria-label*="Reply"] svg {
		-webkit-mask: url("https://i.imgur.com/w52Yxe5.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Edit"] svg {
		-webkit-mask: url("https://i.imgur.com/Nkh0oQQ.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Create Thread"] svg {
		-webkit-mask: url("https://i.imgur.com/5ixlf8e.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Publish"] svg {
		-webkit-mask: url("https://i.imgur.com/ykbiZPl.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="More"] svg {
		-webkit-mask: url("https://i.imgur.com/IipjlAi.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Mark Unread"] svg {
		-webkit-mask: url("https://i.imgur.com/plRRWkp.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Pin"] svg {
		-webkit-mask: url("https://i.imgur.com/tMrxpi1.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Copy Link"] svg {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Copy ID"] svg {
		-webkit-mask: url("https://i.imgur.com/S8lCQJg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		animation: rainbow 5s linear infinite;
}
.f7ecaca5c80dbf3a-button[aria-label*="Delete"] svg {
		-webkit-mask: url("https://i.imgur.com/fJULu0p.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
}
.f7ecaca5c80dbf3a-button[class*="button-1ZiXG9 da-button cursorPointer-1tw4YS"] svg {
		-webkit-mask: url("https://i.imgur.com/7nWfWT4.png") center/cover;
		width: 20px;
		height: 20px;
		background: transparent;
		color: rgb(25, 103, 210);
}

/* File Upload Buttons */
.f7ecaca5c80dbf3a-button[aria-label*="Remove Attachment"] svg {
		-webkit-mask: url("https://i.imgur.com/fJULu0p.png") center/cover;
		width: 20px;
		height: 20px;
		background: var(--red);
		color: var(--red);
}
.f7ecaca5c80dbf3a-button[aria-label*="Modify Attachment"] svg {
		-webkit-mask: url("https://i.imgur.com/6Rv7VNd.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Spoiler Attachment"] svg {
		-webkit-mask: url("https://i.imgur.com/AVUtZ5B.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.f7ecaca5c80dbf3a-button[aria-label*="Spoiler Attachment"] .a7e304492e5ccc04-actionBarIcon[width*="16"] {
		-webkit-mask: url("https://i.imgur.com/vkvsfXH.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}

/* Shift Context Menu */
.c1e9c47c23f12ca3-item[id*="message-actions-edit"] svg,
.c1e9c47c23f12ca3-item[id*="message-edit"] svg {
		-webkit-mask: url("https://i.imgur.com/Nkh0oQQ.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-pin"] svg,
.c1e9c47c23f12ca3-item[id*="message-pin"] svg {
		-webkit-mask: url("https://i.imgur.com/tMrxpi1.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-reply"] svg,
.c1e9c47c23f12ca3-item[id="message-reply"] svg {
		-webkit-mask: url("https://i.imgur.com/w52Yxe5.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-thread"] svg,
.c1e9c47c23f12ca3-item[id*="message-thread"] svg {
		-webkit-mask: url("https://i.imgur.com/5ixlf8e.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-mark-unread"] svg,
.c1e9c47c23f12ca3-item[id*="message-mark-unread"] svg {
		-webkit-mask: url("https://i.imgur.com/m6GQJs4.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-copy-link"] svg,
.c1e9c47c23f12ca3-item[id*="message-copy-link"] svg {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-tts"] svg,
.c1e9c47c23f12ca3-item[id*="message-tts"] svg {
		-webkit-mask: url("https://i.imgur.com/Lw3MQfj.png") center/cover;
		width: 20px;
		height: 16px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-actions-delete"] svg,
.c1e9c47c23f12ca3-item[id*="message-delete"] svg {
		-webkit-mask: url("https://i.imgur.com/fJULu0p.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
}
.c1e9c47c23f12ca3-item[id*="message-actions-delete"]:active,
.c1e9c47c23f12ca3-item[id*="message-delete"]:active {
		background: rgba(241, 86, 86, 0.25);
		color: rgb(241, 86, 86);
}
.c1e9c47c23f12ca3-item[id*="message-actions-delete"]:hover,
.c1e9c47c23f12ca3-item[id*="message-delete"]:hover {
		background: rgba(241, 86, 86, 0.15);
		color: rgb(241, 86, 86);
}
.c1e9c47c23f12ca3-item[id*="message-actions-copy-id"] svg,
.c1e9c47c23f12ca3-item[id*="message-devmode-copy-id"] svg,
.c1e9c47c23f12ca3-item[id*="channel-context-devmode-copy-id"] svg {
		-webkit-mask: url("https://i.imgur.com/S8lCQJg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		animation: rainbow 5s linear infinite;
}
.c1e9c47c23f12ca3-item[id*="message-add-reaction--other-reactions"] svg {
		-webkit-mask: url("https://i.imgur.com/CEE0PM6.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c1e9c47c23f12ca3-item[id*="message-reactions"] svg {
		-webkit-mask: url("https://i.imgur.com/HBqxz2l.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}

/* File Attachment UI */
.channelAttachmentArea-1wlgJV {
		gap: 15px;
		margin: 0 0;
		padding: 10px 5px 0px 5px;
}
.filename-3PA55E {
		margin-top: 5px;
		text-align: center;
}

/* Emote/User Autocomplete */
.theme-dark ._13533e3c5791980f-autocomplete {
		background-color: rgba(var(--PrimaryBG));
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
._6b0e07cbaf13ec4e-autocompleteAttached {
		bottom: calc(100% + 0px);
}
._13533e3c5791980f-clickable[aria-disabled=false]>._13533e3c5791980f-base:hover, ._13533e3c5791980f-clickable[aria-selected=true]>._13533e3c5791980f-base {
		background-color: rgba(var(--AccentColor), 0.15);
}
._13533e3c5791980f-autocompleteRow {
		padding: 0px 0px;
}
._13533e3c5791980f-base {
		padding: 3px;
}
.colorInteractiveActive-30E9n8 {
		color: rgba(var(--AccentColor), 1);
}
._13533e3c5791980f-divider {
		padding: 2px 0;
}
._13533e3c5791980f-divider:after {
		background-color: transparent;
		height: 0;
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}

/* Chat Dividers */
._908e20001ad67812-divider {
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
._908e20001ad67812-isUnread[role*="separator"] {
		border-top: 2px solid #43b581;
}
._908e20001ad67812-content {
		padding: 0 5px;
		color: rgba(var(--AccentColor), 1);
		background: rgba(var(--PrimaryBG));
		line-height: 25px;
		font-size: 20px;
		margin: 0;
		font-weight: 700;
}
._908e20001ad67812-isUnread ._908e20001ad67812-content {
		color: var(--green);
}
.group-spacing-4 ._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent {
		margin-top: 5px;
		margin-bottom: 5px;
}
._908e20001ad67812-hasContent {
		position: relative;
}
._908e20001ad67812-unreadPill {
  display: none;
}

/* Emote Size - Chat */
#app-mount .f75fb00fb7356cbe-chat .emoji.jumboable, #app-mount ._75abce0dd8453367-emojiContainer .emoji.jumboable {
		height: 50px;
		width: 50px;
}
/* Emote Popout */
.d5cd2da5733d0b6e-emojiSection {
		padding: 5px  5px 10px;
		background: rgba(var(--SecondaryBG));
}
._0f481cbbd7530492-popoutContainer {
		width: 350px;
		background: rgba(var(--SecondaryBG));
		box-shadow: none;
}

/* Typing Indicator */
#app-mount .f75fb00fb7356cbe-chat form .b8880176888cc928-typing {
		padding: 0 5px;
		margin: 0 -20px;
		top: -25px;
		background: rgba(0, 0, 0, 0.5);
}
.b8880176888cc928-base .b216994de061a9e2-slowModeIcon {
		margin: 0 15px 0 5px;
		color: rgba(var(--AccentColor), 1);
}
.b8880176888cc928-base .b216994de061a9e2-cooldownWrapper {
  color: rgba(var(--AccentColor), 1) !important;
}
._5ad890d06f24286d-dots._5ad890d06f24286d-themed{
		color: rgba(var(--AccentColor), 1);
}
._36d072eab2b2e737-scroller {
		right: -25px;
		left: -10px
}

/* Thread Split View Fixes */
.b8880176888cc928-base {
		bottom: 48px;
		left: 16;
		right: 0;
		height: 25px;
}
._01ae244280823725-resizeHandle {
		cursor: ew-resize;
		width: 5px;
		border: 2px dashed rgba(var(--AccentColor), 1);
		border-style: hidden dashed;
}

._7184cb7fb4855291-gatedContent {
    padding-right: 350px;
}

/* "Share with your followers!" */
.cacd02fa13551840-icon {
		-webkit-mask: url("https://i.imgur.com/ykbiZPl.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		animation: rainbow 5s infinite linear;
}
.cacd02fa13551840-closeIcon {
		-webkit-mask: url("https://i.imgur.com/j4viHnK.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.lookLink-15mFoz.colorBrand-I6CyqQ {
    color: rgba(var(--AccentColor), 1);
		animation: rainbow 5s infinite linear;
}

/* Reactions */
.f8896c4f6be18f59-reaction {
    margin-right: 2px;
    margin-bottom: 2px;
    transition: none;
    background: rgba(var(--SecondaryBG));
    border: 2px solid rgba(var(--AccentColor), 0.15);
}
.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe{
    background-color: rgba(var(--AccentColor), 0.15);
    border-color: rgba(var(--AccentColor), 1);
		border: 2px dashed rgba(var(--AccentColor), 1);
}

/* Codeblocks */
._752971923a1e6683-markup code {
    font-size: 12px;
    line-height: 15px;
    white-space: pre-wrap;
    background: rgba(var(--PrimaryBG));
    border: 2px dotted rgba(var(--AccentColor), 0.15);
}
._752971923a1e6683-markup pre {
    padding: 0 0;
    margin: 0 0;
}

/* Attached Files */
.audioMetadata_f316dd:before {
		-webkit-mask: url("https://i.imgur.com/kVJyJEN.png") no-repeat center/cover;
		width: 24px;
		height: 24px;
		margin-top: 5px;
		background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1) !important;
}

/* Send Message Button */
.visual-refresh .aa63abf63dbd9cce-separator {
    margin-left: 0;
}
.visual-refresh .aa63abf63dbd9cce-separator:before {
    border-left: 2px dashed rgba(var(--AccentColor), 1) !important;
    height: 50%;
}
.innerButton_aa63ab {
    padding: 0 2px;
    margin-left: 10px;
    margin-right: 15px;
		margin-bottom: 3px;
}
.aa63abf63dbd9cce-activeButtonChild {
    color: rgba(var(--AccentColor), 1);
		animation: rainbow 3s infinite linear;
}

/* Tertiary Chat Background Fixes */
.f75fb00fb7356cbe-chatContent {
    background: rgba(var(--TertiaryBG), 1);
}
._36d072eab2b2e737-messagesWrapper {
	background: rgba(var(--PrimaryBG));
}

/* Chat Load Fix */
.visual-refresh ._6c79861fd96f56b1-wrapper, .visual-refresh .fc817765600a960a-wrapper {
    background: rgba(var(--PrimaryBG));
}

/* Reply Attachment icon */
.repliedTextContentIcon_da8b30, .threadMessageAccessoryContentIcon_af7460 {
		-webkit-mask: url("https://i.imgur.com/w52Yxe5.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
		margin-left: 0;
}
.c19a557985eb7793-repliedTextPlaceholder, .c19a557985eb7793-threadMessageAccessoryPlaceholder {
		font-weight: 700;
		color: rgba(var(--AccentColor), 1);
}

/* Home - Highlights */
.homeContainer__73533 {
	padding: 25px 15px;
	gap: 25px;
}
#app-mount .background_c54132 {
	background-color: rgba(var(--PrimaryBG));
}


/* temp stuff */
#app-mount ._740174f3d6a2c8fe-scrollableContainer, #app-mount ._37e49614b9f110a9-container {
	background: rgba(var(--TertiaryBG)) !important;
}

/* Forum */
.container-3wLKDe {
    background: rgba(var(--PrimaryBG));
}
/* Channels & Roles */
#app-mount ._0b56311ebc6682e2-container, #app-mount .scrollerContainer_c6b11b {
    background: rgba(var(--PrimaryBG));
}

/* Server Guide */
._7449fa59699cedd9-homeContainer {
    gap: 0px;
    padding: 0px;
}
._7449fa59699cedd9-background {
    background: rgba(var(--PrimaryBG));
}

/* Remove Decorations in Chat */
.c19a557985eb7793-avatarDecoration {
    display: none;
}

/* Members Page */
.c791b281f2fedc32-container {
    gap: 0;
    padding: 0;
}
.c791b281f2fedc32-page {
    background: rgba(var(--PrimaryBG)) !important;
}

/* Reply Mention Size Fix */
.c19a557985eb7793-repliedMessage .c19a557985eb7793-username {
		font-size: 15px;
		text-decoration-line: underline;
		font-weight: 600;
    opacity: 1;
}

}

._740174f3d6a2c8fe-buttons {
    height: auto;
    top: 0;
    margin-inline-end: 0;
}