/* -=-= Channels =-=- */
/* Channel Footer - Icons */
button[aria-label="User Settings"] svg {
		opacity: 0;
}
button[aria-label="User Settings"]:not(.actionButton-3WMLvV):before {
		content: "";
		width: 40px;
		height: 40px;
		position: absolute;
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png") center/20px no-repeat !important;
		background-color: rgba(var(--AccentColor), 1);
}
._67645e1530f1195d-button {
		width: 25px;
		height: 25px;
		color: rgba(var(--AccentColor), 1);
}
.withTagAsButton_b2ca13, .withTagless_b2ca13 {
		flex-grow: 2;
}
.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover {
	background-color: rgba(var(--PrimaryBG));
}
._37e49614b9f110a9-nameTag._37e49614b9f110a9-canCopy {
	cursor: crosshair;
}
._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents {
    background: transparent;
}

/* Channel Header */
.visual-refresh .f37cb1984c371ee5-header {
		font-weight: 500;
		padding: 11px 15px;
		color: rgba(var(--AccentColor), 1);
		border-bottom: 2px solid rgba(var(--AccentColor), 1) !important;
}
._629e4c86564a4ee7-sectionDivider {
    display: none;
}

/* Category/Role name */
._13cf1aa56cd732d2-container {
		text-transform: none;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0;
		font-weight: 600;
}
._29444ba32c7fbeab-containerDefault, ._29444ba32c7fbeab-containerDragAfter, ._29444ba32c7fbeab-containerDragBefore, .containerUserOver__91b97 {
		padding-top: 5px;
}

/* Channel List */
._2ea32c412048f708-wrapper {
		padding: 0;
}
._2ea32c412048f708-link {
    cursor: crosshair;
    padding: 2px 5px;
    margin-left: 0;
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link {
		padding: 2px 5px;
    margin-left: 2px;
}
._2ea32c412048f708-name {
		font-size: 15px;
		font-weight: 500;
}
.mainContent-20q_Hp {
		padding: 3px 0;
		cursor: crosshair;
}
._2ea32c412048f708-modeSelected ._2ea32c412048f708-link, ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-link, ._2ea32c412048f708-wrapper:active ._2ea32c412048f708-link {
		background-color: rgba(var(--PrimaryBG));
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-wrapper {
	 animation: rainbow 5s linear infinite;
}

._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name,
._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-name  {
		color: rgba(var(--AccentColor), 1);
}


/* Channel List - User Profile/Status */
._5e434347c823b592-panels {
		background-color: rgba(var(--PrimaryBG));
}
.visual-refresh ._37e49614b9f110a9-container {
		height: 55px;
		font-size: 15px;
		font-weight: 500;
		padding: 0 5px 0 5px;
		margin-bottom: 0;
		border-top: 2px solid rgba(var(--AccentColor), 1);
		z-index: 1;
		background: rgba(var(--TertiaryBG), 1);
}
.visual-refresh ._5e434347c823b592-panels {
    border: none;
    left: 0;
    bottom: 0;
    width: calc(105% - var(--custom-panels-spacing)*2);
}

/* Channel Unread Pill */
._2ea32c412048f708-unreadImportant {
		background-color: rgba(var(--AccentColor), 1); 
}
._2ea32c412048f708-unread {
		height: 10px;
		width: 5px;
		margin-top: -5px;
}

/* Channel Buttons */
.c69b6db0641110f6-iconBase {
		margin-left: 5px;
}
:where(.visual-refresh) .c69b6db0641110f6-selectedChannel .c69b6db0641110f6-actionIcon, :where(.visual-refresh) .c69b6db0641110f6-selectedChannel .c69b6db0641110f6-actionIcon:hover {
   color: rgba(var(--AccentColor), 1);
}
:where(.visual-refresh) .c69b6db0641110f6-actionIcon, :where(.visual-refresh) .c69b6db0641110f6-actionIcon:hover {
   color: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-iconItem:hover .c69b6db0641110f6-actionIcon {
    color: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-iconItem[aria-label*="Create Invite"] {
		 -webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		 width: 16px;
		 height: 16px;
		 background: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-iconItem[aria-label*="Invite to Server"] {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png") center/cover;
		 width: 20px;
		 height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-iconItem[aria-label*="Edit Channel"] {
		 -webkit-mask: url("https://i.imgur.com/5AZqlJo.png") center/cover;
		 width: 12px;
		 height: 12px;
		 background: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-iconItem[aria-label*="Open Chat"] {
		 -webkit-mask: url("https://i.imgur.com/DjtCQDi.png") center/cover;
		 width: 18px;
		 height: 18px;
		 background: rgba(var(--AccentColor), 1);
}
[aria-label="Open Chat"].c69b6db0641110f6-iconItem {
    padding: 2px 0;
}

/* Channel Icons */
._2ea32c412048f708-icon {
		color: rgba(var(--AccentColor), 0.5);
}
._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon, ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-icon, ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon, ._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-icon {
		color: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer {
		margin-right: 5px;
}
._2ea32c412048f708-iconContainer[aria-label*="Text"] {
		-webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Voice"] {
		-webkit-mask: url("https://i.imgur.com/JEQfCHt.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Rules"] {
		-webkit-mask: url("https://i.imgur.com/hcQYiIs.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Announcements"] {
		-webkit-mask: url("https://i.imgur.com/ykbiZPl.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Stage"] {
		-webkit-mask: url("https://i.imgur.com/mTdnED7.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Locked"] {
		-webkit-mask: url("https://i.imgur.com/yWTYMT5.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-iconContainer[aria-label*="Forum"] {
		-webkit-mask: url("https://i.imgur.com/DjtCQDi.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
/* Channels & Roles */
.visual-refresh ._2ea32c412048f708-basicChannelRowLink {
    min-height: 25px;
    margin-left: -28px;
}
.visual-refresh ._2ea32c412048f708-basicChannelRowLink:hover {
    min-height: 25px;
    margin-left: -26px;
}
._658442d9ffa4221c-content {
    margin-left: 20px;
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link {
    background: transparent;
		border-left: solid 2px rgba(var(--AccentColor), 1);
}
._2ea32c412048f708-modeSelected ._2ea32c412048f708-link {
    background: transparent;
}
._2ea32c412048f708-wrapper ._54e4b4c7492325c1-focusTarget[id*="upcoming-events"] {
		-webkit-mask: url("https://i.imgur.com/6cq4uJN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
._2ea32c412048f708-wrapper:hover ._54e4b4c7492325c1-focusTarget[id*="upcoming-events"] {
		left: 7px;
}
._2ea32c412048f708-wrapper ._54e4b4c7492325c1-focusTarget[id*="channels"] {
		-webkit-mask: url("https://i.imgur.com/ztvQmGy.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
._2ea32c412048f708-wrapper:hover ._54e4b4c7492325c1-focusTarget[id*="channels"] {
		left: 7px;
}
._2ea32c412048f708-wrapper ._54e4b4c7492325c1-focusTarget[id*="members"] {
		-webkit-mask: url("https://i.imgur.com/ctWX4nh.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
._2ea32c412048f708-wrapper:hover ._54e4b4c7492325c1-focusTarget[id*="members"] {
		left: 7px;
}
._2ea32c412048f708-wrapper ._54e4b4c7492325c1-focusTarget[id*="home"] {
		-webkit-mask: url("https://i.imgur.com/NIgY5sU.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
._2ea32c412048f708-wrapper:hover ._54e4b4c7492325c1-focusTarget[id*="home"] {
		left: 7px;
}
.c69b6db0641110f6-containerDefault[data-list-item-id*="channels___home"] svg {
		-webkit-mask: url("https://i.imgur.com/NIgY5sU.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-containerDefault[data-list-item-id*="channels___upcoming-events"] svg {
		-webkit-mask: url("https://i.imgur.com/6cq4uJN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.c69b6db0641110f6-containerDefault[data-list-item-id*="channels___guild-active-threads"] svg {
		-webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
/* NSFW Channel Icon */
#app-mount ._2ea32c412048f708-linkTop ._2ea32c412048f708-iconContainer [aria-label*="Text (Age-Restricted)"] svg {
  color: (var(--green)) !important;
	background: (var(--green)) !important;
}
._2ea32c412048f708-iconContainer ._2ea32c412048f708-icon[xmlns*="http://www.w3.org/2000/svg"] {
		display: none;
}

/* Thread Spine */
._5b40bdd67543ba35-spine {
		-webkit-mask: url("https://i.imgur.com/5ixlf8e.png") center/cover;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--AccentColor), 1);
		height: 20px;
		width: 20px;
		left: 15px;
		top: 0px;
}
._5b40bdd67543ba35-spine[style*="transform: rotateX(180deg) translateY(-9px)"], ._5b40bdd67543ba35-spineBorder {
		display: none;
}

/* Channel List Width [Counts for DM List] */
#app-mount ._5e434347c823b592-sidebar {
		width: 300px !important; }

/* Status Picker */
.c1e9c47c23f12ca3-menu[id*="status-picker"] {
		padding: 0;
		min-width: 300px;
		width:  300px;
		top: 5px;
		right: 0;
}
[style*="position: fixed; bottom: 108.5px; left: 5px;"].layer-2aCOJ3 {
		left: -40px !important;
		bottom: 102px !important;
}
.separator-1So4YB {
		margin: 0px;
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.description_e0f739 {
  display: none;
}
.item-1OdjEX[id*="status-picker"] {
		margin: 0px 0px;
		padding: 0px 5px 0px 5px;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		cursor: crosshair;
}
.scroller-1bVxF5 ._99f8cc7ad4790ce9-thin .scrollerBase-_bVAAt[id*="status-picker"] {
  padding: 0;
}
.hintContainer-2UwhLP svg {
		-webkit-mask: url("https://i.imgur.com/j4viHnK.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}

.caret-2MOQD6, .image-21g2ca {
	height: 22px;
}

.item-1OdjEX[id="account-switch-account"] .iconContainerLeft-2NHJgN svg {
		-webkit-mask: url("https://i.imgur.com/pIhRo0u.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.d40c56f847687e8d-activeIcon {
	display: none;
}
.statusItemNoPadding_e0f739 {
    padding: 5px;
}

/* Voice Channel Icons */
._67645e1530f1195d-button[aria-label*="Mute"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
._67645e1530f1195d-button[aria-label*="Mute"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
._67645e1530f1195d-button[aria-label*="Deafen"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/kVJyJEN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
				color: rgba(var(--AccentColor), 1);
}
._67645e1530f1195d-button[aria-label*="Disconnect"] svg {
	 -webkit-mask: url("https://i.imgur.com/icr6AHF.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
._67645e1530f1195d-button[aria-label*="Noise Suppression"] {
	 display: none;
}
._67645e1530f1195d-button[aria-label*="Deafen"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
.iconSpacing-3eO9xt[aria-label*="Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(142, 146, 151);
		color: rgb(142, 146, 151);
}
.iconSpacing-3eO9xt[aria-label*="Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(142, 146, 151);
		color: rgb(142, 146, 151);
}
.iconSpacing-3eO9xt[aria-label*="Server Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
.iconSpacing-3eO9xt[aria-label*="Server Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}

/* Voice Chat and Streaming */
._67645e1530f1195d-button[aria-label*="Stream"] svg {
	 -webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
._67645e1530f1195d-button[aria-label*="Stop Streaming"] svg {
	 -webkit-mask: url("https://i.imgur.com/jeh7qQQ.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
._06d6249a1f2584ac-ping {
    display: none;
}
.effb26435c5c2207-popoutText.effb26435c5c2207-popoutTextDetails {
    display: none;
}
.effb26435c5c2207-graphContainer {
    margin-bottom: 5px;
    padding: 0;
}
.effb26435c5c2207-separator {
    border: none;
		margin-bottom: 0;
}

.e131a99484292a19-actionButtons {
    grid-gap: 5px;
    padding-top: 0;
}
.e131a99484292a19-actionButtons ._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents svg {
	 width: 24px !important;
		height: 24px !important;
}
.e131a99484292a19-actionButtons ._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents ._5eb9b3cc7c2b1ce8-lottieIcon {
	display: contents !important;
}
.e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive {
    background: rgba(var(--AccentColor), 0.75);
    color: rgba(var(--AccentColor), 1);
}
._201d5e8a3c09670a-button[aria-label*="Turn On Camera"] svg {
	 -webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
._201d5e8a3c09670a-button[aria-label*="Turn Off Camera"] svg {
	 -webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
._201d5e8a3c09670a-button[aria-label*="Share Your Screen"] svg {
	 -webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
._201d5e8a3c09670a-button[aria-label*="Start An Activity"] svg {
	 -webkit-mask: url("https://i.imgur.com/iAB8BmS.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
._201d5e8a3c09670a-button[aria-label*="Open Soundboard"] svg {
	 -webkit-mask: url("https://i.imgur.com/Z8tem8F.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
	 color: rgba(var(--AccentColor), 1);
    --__lottieIconColor: rgba(var(--AccentColor), 1);
}

/* Voice Chat Status Icons */
._07f9193042954787-icons {
		margin-right: 5px;
}
._07f9193042954787-icons .iconSpacing__07f91 svg {
		width: 18px;
		height: 18px;
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label="Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: #444;
		color: #444;
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label="Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		background: #444;
		color: #444;
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label*="Muted by"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: var(--yellow);
		color: var(--yellow);
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label*="Server Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: var(--red);
		color: var(--red);
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label*="Server Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		background: var(--red);
		color: var(--red);
}
._07f9193042954787-icons .iconSpacing__07f91[aria-label*="Video"] svg {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		background: var(--red);
		color: var(--red);
}

/* Category Arrow */
.arrow_d64d50 {
		transition: none;
		color: rgba(var(--AccentColor), 1);
}

/* Boost Bar Removal */
.container_eff079 {
		display: none;
}

/* Channel Banner */
.f37cb1984c371ee5-bannerImg, .f37cb1984c371ee5-bannerImage {
		width: 300px;
		image-rendering: pixelated;
}

.container__56cd1 {
    width: 350px;
    margin-left: 10px;
    padding: 10px;
    max-height: 350px;
    box-shadow: none;
    background: rgba(var(--SecondaryBG));
}

div[style="height: 16px;"] {
	height: 5px !important;
}


/* temp fixes */
.theme-dark ._5dec784a68542d60-panel {
    background: rgba(var(--PrimaryBG));
}
.e131a99484292a19-container {
		padding: 10px;
		border: none;
		background: rgba(var(--PrimaryBG));
}
._5e434347c823b592-activityPanel {
    border: none;
}
.visual-refresh ._5e434347c823b592-sidebar:after {
    display: none;
}


.visual-refresh ._2637a2609f343032-container {
    padding-bottom: 0;
    margin-left: 0;
		background: rgba(var(--PrimaryBG));
}
.visual-refresh ._5e434347c823b592-sidebarList {
    border: none;
}
.visual-refresh .f37cb1984c371ee5-communityInfoVisible .f37cb1984c371ee5-header, .visual-refresh .f37cb1984c371ee5-communityInfoVisible .f37cb1984c371ee5-header:hover, .visual-refresh .f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header, .visual-refresh .f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header:hover {
    border-bottom: none;
}