/* -=-= Header =-=- */
/* Server Dropdown */
.c1e9c47c23f12ca3-menu[id*="guild-header-popout"] {
		cursor: crosshair;
		box-shadow: none;
		margin-top: -10px;
		margin-left: -12px;
		width: 300px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
		overflow: none !important;
}
.iconContainer-1-SsTR {
		height: 20px;
		width: 20px;
		margin-left: 5px;
}
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"],
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"]:hover,
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"]:hover svg,
.colorDefault-CDqZdO.focused-3qFvc8[id*="guild-header-popout-premium-subscribe"] svg {
		color: #ff73fa;
}
.item-1OdjEX[id*="guild-header-popout-invite-people"]{
		animation: rainbow 5s infinite;
		color: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-invite-people"] svg {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-settings"] svg {
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-insights"] svg {
		-webkit-mask: url("https://i.imgur.com/VbmGX0M.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-channel"] svg {
		-webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-category"] svg {
		-webkit-mask: url("https://i.imgur.com/LZ1Cip0.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-event"] svg {
		-webkit-mask: url("https://i.imgur.com/AGRxVmK.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-notifications"] svg {
		-webkit-mask: url("https://i.imgur.com/bH8EjSM.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-privacy"] svg {
		-webkit-mask: url("https://i.imgur.com/cPWXDFI.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-change-nickname"] svg {
		-webkit-mask: url("https://i.imgur.com/WjMmxEV.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-leave"] svg {
		-webkit-mask: url("https://i.imgur.com/Q1iCApb.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(240, 71, 71)
}
.item-1OdjEX[id*="guild-header-popout-hide-muted-channels"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/6cbtmtc.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-hide-muted-channels"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/tT3ipI9.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b,
.colorDefault-CDqZdO .check-3HZJs4,
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b,
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE {
		color: transparent;
}
.customItem-2CxBSo[id*="guild-header-popout-showhiddenchannels-hide-locked-channels"] {
		display: none;
}

.visual-refresh .f75fb00fb7356cbe-title {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.visual-refresh ._9293f6b2fc12398a-container {
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
}
.visual-refresh .f75fb00fb7356cbe-chat[data-has-border=true] {
    border-top: none;
}
._6ec1a06139ec3b27-topic {
		margin-left: 5px;
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}
.divider__9293f {
		width: 2px;
		height: 25px;
		margin: 0 5px;
		background: rgba(var(--AccentColor), 0.25);
}
._9293f6b2fc12398a-iconWrapper {
		height: 25px;
		margin: 0 5px;
}

._9293f6b2fc12398a-container {
    height: 48px;
    padding: 0 5px;
}

/* Left Header Icons - Channels */
._9293f6b2fc12398a-container.f75fb00fb7356cbe-title[aria-label="Channel header"] ._9293f6b2fc12398a-children ._9293f6b2fc12398a-iconWrapper {
		 -webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		 width: 25px;
		 height: 25px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Friends (broken) */
//._9293f6b2fc12398a-children ._9293f6b2fc12398a-iconWrapper {
//		 -webkit-mask: url("https://i.imgur.com/HBqxz2l.png") center/cover;
//		 width: 22px;
//		 height: 22px;
//		 background: rgba(var(--AccentColor), 1);
//}
/* Left Header Icons - Library*/
._5a8959fbcedb42ba-libraryHeader ._9293f6b2fc12398a-children ._9293f6b2fc12398a-iconWrapper {
		 -webkit-mask: url("https://i.imgur.com/faSUfHB.png") center/cover;
		 width: 24px;
		 height: 24px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Voice Chat */
.cb9592ad77576717-headerWrapper ._9293f6b2fc12398a-container._9293f6b2fc12398a-transparent ._9293f6b2fc12398a-children ._9293f6b2fc12398a-iconWrapper {
		 -webkit-mask: url("https://i.imgur.com/JEQfCHt.png") center/cover;
		 width: 25px;
		 height: 25px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Threads */
._9293f6b2fc12398a-container[aria-label*="Thread header"] ._9293f6b2fc12398a-children ._9293f6b2fc12398a-iconWrapper {
		 -webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		 width: 22px;
		 height: 22px;
		 background: rgba(var(--AccentColor), 1);
}

/* Right Header Icons*/
._9293f6b2fc12398a-iconWrapper[aria-label*="Threads"] {
		-webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Notification Settings"] {
		-webkit-mask: url("https://i.imgur.com/bH8EjSM.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Pinned Messages"] {
		-webkit-mask: url("https://i.imgur.com/tMrxpi1.png") center/cover;
		width: 23px;
		height: 23px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Hide Member List"]{
		-webkit-mask: url("https://i.imgur.com/fqmCpKs.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Show Member List"] {
		-webkit-mask: url("https://i.imgur.com/CRkYbVZ.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="More"] {
		-webkit-mask: url("https://i.imgur.com/XK8F1QZ.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-selected[aria-label*="More"] {
		transform: rotate(180deg);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Update"]{
		-webkit-mask: url("https://i.imgur.com/8Z68uCH.png") center/cover;
		width: 25px;
		height: 25px;
		background: var(--green);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Inbox"]{
		-webkit-mask: url("https://i.imgur.com/kPC15bq.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Help"]{
		display: none;
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Start Voice Call"]{
		-webkit-mask: url("https://i.imgur.com/QRlEKsF.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Start Video Call"]{
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Add Friends"]{
		-webkit-mask: url("https://i.imgur.com/yUL8g58.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Show User Profile"]{
		-webkit-mask: url("https://i.imgur.com/uTP0O8K.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="Hide User Profile"]{
		-webkit-mask: url("https://i.imgur.com/ctWX4nh.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
._9293f6b2fc12398a-iconWrapper[aria-label*="New Group DM"]{
		display: none;
}

/* "Follow" Button */
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.f75fb00fb7356cbe-followButton {
		padding: 2px 5px;
		margin-right: 5px;
}

/* Pins Popout */
.e8b59c4b335dd2fc-image {
		display: none;
}
.e8b59c4b335dd2fc-body {
		font-size: 15px;
		margin: 5px 0;
		color: rgba(var(--AccentColor), 1);
}
.e8b59c4b335dd2fc-footer {
		display: none;
}
.e8b59c4b335dd2fc-messagesPopout {
		padding: 5px;
}
.e8b59c4b335dd2fc-header {
		position: relative;
		padding: 10px;
		background-color: var(--background-tertiary);
		text-align: right;
		box-shadow: none;
}
.e8b59c4b335dd2fc-emptyPlaceholder {
		margin: 5px 0;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.e8b59c4b335dd2fc-messagesPopoutWrap {
		background-color: rgba(var(--PrimaryBG));
		box-shadow: none;
		width: 500px;
}

._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
    background: rgba(var(--TertiaryBG), 1);
}
.f37cb1984c371ee5-container {
    background: rgba(var(--TertiaryBG), 1);
}
.theme-dark ._9293f6b2fc12398a-children:after {
    display: none;
}


.upsellTooltipWrapper__675aa {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(var(--SecondaryBG)) !important;
    box-shadow: none;
}
.upsellTooltipWrapper__675aa:after {
    display: none;
}

/* "Public" server status */
.f37cb1984c371ee5-communityInfoPill {
    display: none;
}

/* Server name */
.f37cb1984c371ee5-name {
    color: rgba(var(--AccentColor), 1);
}
.f37cb1984c371ee5-headerChildren {
    color: rgba(var(--AccentColor), 1);
}

/* Discord Birthday Header Icon */
.activitiesBirthdayIcon-vp7oVk {
    -webkit-mask: url("https://i.imgur.com/9x79mXI.png") center/cover;
		color: rgb(255, 255, 0);
		background: rgb(255, 255, 0);
		animation: fading 2s infinite;
}

._8067953d83f4b8a8-discordLogo g {
    display: none;
}
._8067953d83f4b8a8-discordLogo {
    -webkit-mask: url("https://i.imgur.com/BS0NzL3.png") center/cover;
		width: 30px;
		height: 30px;
		background: rgba(var(--AccentColor), 1);
		margin-right: 5px;
}

/* Badge */
._9293f6b2fc12398a-iconBadge {
    display: none;
}