/* -=-= Search UI =-=- */
.visual-refresh {
/* Search Popout */
._496769951eb140fe-search {
		margin: 0;
}
._974928fe84ca9647-searchBar {
		height: 25px;
		width: 25px;
		padding: 0 0;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--TertiaryBG), 1);
		border: none;
}
._974928fe84ca9647-search .DraftEditor-root {
    padding: 0;
}
._974928fe84ca9647-focused ._974928fe84ca9647-searchBar, ._974928fe84ca9647-open ._974928fe84ca9647-searchBar {
		width: 320px;
}
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
		color: rgba(var(--AccentColor), 0.75);
		padding-left: 0;
}
.iconLayout_fea832[aria-hidden*="true"] {
		-webkit-mask: url("https://i.imgur.com/IhEjlHK.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.iconLayout_fea832 svg {
		display: none;
}
.iconLayout_fea832[aria-hidden*="false"] {
		-webkit-mask: url("https://i.imgur.com/dtAqBih.png") center/cover;
		margin-top: 2px;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
#app-mount ._55c999adcf6db265-container {
		background-color: rgba(var(--PrimaryBG));
}
.theme-dark ._56fec8e8b8048fe0-resultsGroup .header-3A13BX,
.theme-dark ._56fec8e8b8048fe0-resultsGroup ._56fec8e8b8048fe0-plusIcon,
.theme-dark ._56fec8e8b8048fe0-resultsGroup .searchClearHistory-2Be-92 {
		color: rgba(var(--AccentColor), 1);
}
._56fec8e8b8048fe0-option {
		font-size: 15px;
		margin: 0 10px;
		padding: 0 10px;
		height: 25px;
		cursor: crosshair;
}
._56fec8e8b8048fe0-option:after {
		display: none;
}
._56fec8e8b8048fe0-resultsGroup .searchLearnMore-7__o_n {
		display: none;
}
.theme-dark ._55c999adcf6db265-focused {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
._55c999adcf6db265-queryContainer {
    padding: 5px 15px;
    border: none;
}
.theme-dark ._2b2f1bb918566c48-elevationBorderHigh {
		box-shadow: none;
}
.theme-dark ._56fec8e8b8048fe0-searchOption ._56fec8e8b8048fe0-filter, .theme-dark ._56fec8e8b8048fe0-option.user-23VtPS .displayedNick-2dDbfG {
		color: rgba(var(--AccentColor), 1);
}
.theme-dark ._56fec8e8b8048fe0-option.user-23VtPS .displayUsername-14aOpK {
		color: rgba(var(--AccentColor), 0.5);
}
.theme-dark .bd818628221af7aa-searchAnswer, .theme-dark .bd818628221af7aa-searchFilter {
		background-color: rgba(var(--SecondaryBG));
}
.bd818628221af7aa-searchFilter {
		color: rgba(var(--AccentColor), 1);
}
.bd818628221af7aa-searchAnswer {
		color: rgba(var(--AccentColor), 0.75);
}

#app-mount ._55c999adcf6db265-container {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		margin-right: 25px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
._56fec8e8b8048fe0-resultsGroup {
		padding-top: 5px;
		padding-bottom: 0;
		margin-top: 0;
}
.theme-dark ._56fec8e8b8048fe0-resultsGroup:before {
		border: none;
}

/* Fix for Chat */
.a9e7064fdee8e9b0-searchResultsWrap {
    width: 450px;
    position: absolute;
		display: flex;
		right: 0;
		max-height: calc(100% - 50px);
    background-color: rgba(var(--PrimaryBG));
}

}