/* Title bar and window buttons */
._421edea01cb52e16-typeWindows {
		height: 0;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
}
.c38106a3f0c3ca76-bar {
    gap: 0;
    min-height: 0;
		height: 5px;
    padding: 0;
}
#app-mount ._421edea01cb52e16-titleBar:after {
		content: "";
		position: relative;
		height: 10px;
		width: 1500px;
		top: 0;
		left: -120px;
		-webkit-app-region: drag;
}
.c38106a3f0c3ca76-winButtons {
		position: relative;
		right: 15px;
		height: 25px;
		width: 75px;
		top: calc(100vh - 25px);
		margin-top: 0 !important;
		gap: unset;
		background: rgba(var(--TetriaryBG)) !important;
		color: rgba(var(--AccentColor), 1);
}
.c38106a3f0c3ca76-winButtons .c38106a3f0c3ca76-winButtonMinMax {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--TetriaryBG));
}
.c38106a3f0c3ca76-winButtons .c38106a3f0c3ca76-winButtonMinMax[aria-label^="Minimize"]:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--AccentColor), 0.25);
}
.c38106a3f0c3ca76-winButtons .c38106a3f0c3ca76-winButtonMinMax[aria-label^="Maximize"]:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--AccentColor), 0.25);
}
.c38106a3f0c3ca76-winButtonsWithDivider:before {
    display: none;
}
.colorNotification-24Qhr6 {
    background-color: rgba(var(--SecondaryBG));
    color: rgba(var(--AccentColor), 1);
}
