.profilePanel_b433b4 {
    width: 450px;
    position: absolute;
		display: flex;
		right: -110px;
		max-height: calc(100% - 50px);
    background-color: rgba(var(--PrimaryBG));
}
.accountProfilePopoutWrapper__37e49 {
    bottom: -10px !important;
		left: -3px !important;
}
.c1e9c47c23f12ca3-submenuPaddingContainer {
    padding: 0 0;
}
.ce832809562bf737-description {
    display: none;
}

.c1e9c47c23f12ca3-item[id="account-switch-account"] {
    display: none;
}

._37e49614b9f110a9-avatarWrapper {
    margin-right: 0;
    margin-left: 0;
    min-width: 190px;
    padding-left: 0;
}